<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <mat-card>
        <mat-card-content>
          <h6 class="card-title text-center h6">Apply For Loan</h6>
          <hr class="fading_line">
          <form [formGroup]="applyLoanForm">
            <mat-form-field appearance="outline">
              <mat-label>Enter username</mat-label>
              <input matInput placeholder="Enter Name" formControlName="name" autocomplete="off">
              <mat-error *ngIf="applyLoanForm.get('name').hasError('required')">
                Username is required
              </mat-error>
              <mat-error *ngIf="applyLoanForm.get('name').hasError('pattern')">
                Please enter valid username
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Enter mobile number</mat-label>
              <input matInput placeholder="Enter mobile number" formControlName="mobile" autocomplete="off"
                    minlength=10 maxlength=10>
              <mat-error *ngIf="applyLoanForm.get('mobile').hasError('required')">
              Mobile is required
              </mat-error>
              <mat-error *ngIf="applyLoanForm.get('mobile').hasError('pattern')">
                Please enter valid mobile number
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Enter amount</mat-label>
              <input matInput placeholder="Enter amount" formControlName="loanAmount" autocomplete="off"
                    [(ngModel)]="amount" (change)="printNo()">
              <span matPrefix class="span-prefix-position" style="color: grey;">&#x20b9; &nbsp;</span>
              <mat-error *ngIf="applyLoanForm.get('loanAmount').hasError('required')">
                Amount is required
              </mat-error>
              <mat-error *ngIf="applyLoanForm.get('mobile').hasError('pattern')">
                Please enter valid amount
                </mat-error>
            </mat-form-field>

            <div style="font-size: 12px;margin-bottom: 10px;">
              <span>Share your last 6 months statement via account aggregator</span>
            </div>
            
            <mat-form-field appearance="outline">
              <mat-label>Enter AA Id</mat-label>
              <input matInput placeholder="Enter AA Id" formControlName="aaId" autocomplete="off">
              <span matSuffix class="span-prefix-position" style="font-size: 12px;">@finvu</span>
              <mat-error *ngIf="applyLoanForm.get('aaId').hasError('pattern')">
                Min 6 and max 30 chars only. letters(a-z), numbers(0-9), hyphen (-) and periods (.) are allowed in aaId        
              </mat-error>
            </mat-form-field>
            <div align="center" style="margin-top: 10px;">
              <button mat-raised-button class="ripple" (click)="submitForm()">Next</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6" style="padding-top: 20px;padding-bottom: 20px;">
      <iframe [src]="iframeURL" id="loginFrame" *ngIf="displayFrame" style="width: 400px; height: 600px; padding-top: 20px;padding-bottom: 20px;" id="iframe"></iframe>
    </div>
  </div>
</div>
