<mat-card class="main-card">
  <mat-card-content>
    <h6 class="card-title text-center h6">Apply For Loan</h6>
    <hr class="fading_line">
    <div class="center-screen">
      <div align="center">
        <div class="col-12" style="font-size: 14px;margin-bottom: 10px;">
          Sorry you are failed to fulfill criteria!!
          Your loan application for Rs.{{loanAmount}} has been denied!!        
        </div>
        <div style="margin-top: 20px;">
          <button mat-raised-button class="ripple" (click)="onOkClick()" style="width: 150px;">Ok</button>
        </div>
      </div> 
    </div>  
  </mat-card-content>
</mat-card>