<mat-card>
  <mat-card-content>
    <h6 class="card-title text-center h6">Apply For Loan</h6>
    <hr class="fading_line">
    <h6 class="h6 light-green-color" style="margin-top: 10px;">Calculate Eligibility</h6>
    <div align="center" style="margin-top: 40px;margin-bottom: 20px">
      <mat-spinner class="mat-spinner-color" [value]='50'></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>